<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>

</head>
<body>

  <div >
    <div >
      <div >

          <p th:text="${mensaje}"></p>

          <h2>Registrate</h2>

          <form th:action="@{/collabpro/registro}" th:method="POST" >

            <div>
              <label>Nombre: </label>
              <input name="nombre" type="text" required autofocus="autofocus">
            </div>

            <div >
              <label>Correo : </label>
              <input name="correo" type="email" required >
            </div>

            <div >
              <label>Contraseña: </label>
              <input name="contraseña" type="password" required >
            </div>

            <div>

              <button type="submit" >Registrar</button>

              <span>Si estas registrado <a th:href="@{/collabpro/login}">Inicia sesión aqui</a></span>
            </div>

          </form>

      </div>
    </div>
  </div>

</body>
</html>